---
import { basics } from '../../../cv.json'
import Section from '../Section.astro'
import Mail from '../../icons/Mail.astro'
import GitHub from '../../icons/GitHub.astro'
import LinkedIn from '../../icons/LinkedIn.astro'
import WordlMap from '../../icons/WorldMap.astro'

const {summary} = basics

---

<Section title="Educacion">
    <p>{summary}</p>
</Section>

<style>

</style>